{% extends 'base.html' %}

{% block extra_js %}
    <script>
        window.onload = function() {
            var documentfield = document.getElementById("id_document").parentNode;
            var urlfield = document.getElementById("id_document_url").parentNode;
            var intype = document.getElementById("id_intype");
            var textfield = document.getElementById("id_text");
            <!--for (var i=0; i<intype.length; i++){-->
                <!--if (intype.options[i].value == 'DIRECT' )-->
                        <!--intype.remove(i);-->
            <!--}-->
            urlfield.style.display = 'None';
            textfield.style.display = 'None';
            documentfield.style.display = 'inline';
            console.log("tweakform", intype);
            intype.onchange = function(){
                if( intype.value === 'FILE'){
                    textfield.style.display = 'none';
                    urlfield.style.display = 'none';
                    documentfield.style.display = 'inline';
                }else if ( intype.value === 'URL' ){
                    textfield.style.display = 'none';
                    urlfield.style.display = 'inline';
                    documentfield.style.display = 'none';
                }else if ( intype.value === 'DIRECT' ){
                    textfield.style.display = 'inline';
                    urlfield.style.display = 'none';
                    documentfield.style.display = 'none';
                }else{
                    textfield.style.display = 'none';
                    urlfield.style.display = 'none';
                    documentfield.style.display = 'none';
                }
            }
        }
    </script>
{% endblock %}
{% block main %}
<h1>Eurosentiment format translation</h1>
<form action="{% url 'generator.views.process' %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
